
*
!*/

!*.md
!*.mmd
!*.drawio
!*.png
!*.sh
!*.c
!*.h
!*.py
!*.html
!*.css
!*.js
!*.yml
!*.tf
!*.jpg
!*.jpeg
!*.gif
!*.svg
!*.ico

!makefile

!Jenkinsfile
!Dockerfile
!nginx.conf
!requirements.txt

!.gitignore

__init__.py
venv/
__pycache__/

.env

